services:
  eurekafd:
    image: tusharvyavahare/eureka-server:0.0.1
    build: .\eureka
    ports:
      - "8761:8761"
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost:8761/actuator/health | grep UP"]
      interval: 10s
      timeout: 5s
      retries: 3

  foodcataloguefd:
    image: tusharvyavahare/foodcatalogue-service:0.0.1
    build: .\foodcatalogue
    ports:
      - "9092:9092"
    environment:
      DB_PWD: ${DB_PWD}
    depends_on:
      eurekafd:
        condition: service_healthy

  orderfd:
    image: tusharvyavahare/order-service:0.0.1
    build: .\order-service
    ports:
      - "9094:9094"
    depends_on:
      eurekafd:
        condition: service_healthy

  restaurantlistingfd:
    image: tusharvyavahare/restaurantlisting-service:0.0.1
    build: .\restaurantlisting
    ports:
      - "9091:9091"
    environment:
      DB_PWD: ${DB_PWD}
    depends_on:
      eurekafd:
        condition: service_healthy

  userinfofd:
    image: tusharvyavahare/userinfo-service:0.0.1
    build: .\userinfo
    ports:
      - "9093:9093"
    environment:
      DB_PWD: ${DB_PWD}
    depends_on:
      eurekafd:
        condition: service_healthy
