services:
  eurekaservice:
    image: eurekaservice:latest
    build: .\eureka
    ports:
      - "8761:8761"
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost:8761/actuator/health | grep UP"]
      interval: 10s
      timeout: 5s
      retries: 3

  foodcatalogue:
    image: foodcatalogue:latest
    build: .\foodcatalogue
    ports:
      - "9092:9092"
    environment:
      DB_PWD: ${DB_PWD}
    depends_on:
      eurekaservice:
        condition: service_healthy

  order-service:
    image: order-service:latest
    build: .\order-service
    ports:
      - "9094:9094"
    depends_on:
      eurekaservice:
        condition: service_healthy

  restaurantlisting:
    image: restaurantlisting:latest
    build: .\restaurantlisting
    ports:
      - "9091:9091"
    environment:
      DB_PWD: ${DB_PWD}
    depends_on:
      eurekaservice:
        condition: service_healthy

  userservice:
    image: userservice:latest
    build: .\userinfo
    ports:
      - "9093:9093"
    environment:
      DB_PWD: ${DB_PWD}
    depends_on:
      eurekaservice:
        condition: service_healthy
